@model EventViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="about-banner relative">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <h1>Create</h1>

    <h4>Event</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form enctype="multipart/form-data" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.EditorFor(m => m.Name, additionalViewData: new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Description)
                    @Html.EditorFor(m => m.Description, additionalViewData: new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LocationId)
                    @Html.DropDownListFor(m => m.LocationId, Model.Locations, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EventTypeId)
                    @Html.DropDownListFor(m => m.EventTypeId, Model.EventTypes, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.When)
                    @Html.EditorFor(m => m.When, additionalViewData: new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.When, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TicketPrice)
                    @Html.EditorFor(m => m.TicketPrice, additionalViewData: new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.TicketPrice, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TicketCount)
                    @Html.EditorFor(m => m.TicketCount, additionalViewData: new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.TicketCount, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input asp-for="ImagesFiles" type="file" multiple class="form-control" />
                    @Html.ValidationMessageFor(m => m.ImagesFiles, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
